@model IEnumerable<Dainikprashashan.Models.GharkayamList>

@{
    ViewBag.Title = "AabedanBiwaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding:25px 150px">
    <div class="col-lg-1">
    </div>


    <h3><b>आबेदन विवरण</b></h3>
    <hr />
    <center>
        <div class="table-responsive-sm">
            <table class="table table-bordered" style="border:1px">

                <tr>
                    <th scope="row">फारम ID</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().FormId)</td>
                </tr>

                <tr>
                    <th scope="row">
                        स्वीकृत
                    </th>
                    <td style="color:red">नभएको </td>
                </tr>
                <tr></tr>

                <tr>
                    <th scope="row">आवेदकको नाम</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Aabedak_name)</td>
                </tr>

                <tr>
                    <th scope="row">ठेगाना</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Pradesh),@Html.DisplayFor(modelItem => Model.LastOrDefault().Jilla),@Html.DisplayFor(modelItem => Model.LastOrDefault().Gabisa),@Html.DisplayFor(modelItem => Model.LastOrDefault().Ward)</td>
                </tr>


                <tr>
                    <th scope="row">साबिक ठेगाना</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Gajjako_sabikthegana)</td>
                </tr>

                <tr>
                    <th scope="row">नक्सा सिट नं</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Naksa_sheetno)</td>
                </tr>

                <tr>
                    <th scope="row">कित्ता नं	</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Kitta_no)</td>
                </tr>

                <tr>
                    <th scope="row">क्षेत्रफल</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Bigga)-@Html.DisplayFor(modelItem => Model.Last().Kattha)-@Html.DisplayFor(modelItem => Model.Last().Dhur)</td>
                </tr>

                <tr>
                    <th scope="row">घर नं</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Ghar_no)</td>
                </tr>

                <tr>
                    <th scope="row">घरको प्रकार</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Gharko_prakaar)</td>
                </tr>

                <tr>
                    <th scope="row">घर निर्माण भएको / आनुमति लिएको साल</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Gharnirmaan_saal)</td>
                </tr>


            </table>
            <a href="Editabedanniwaran"><button class="btn btn-warning col-lg-5" type="submit"><b>सम्पादन गर्नुहोस् </b></button></a>
            &nbsp;
            <a href="Finalview"><button class="btn btn-success col-lg-5" type="submit"><b>दर्ता गर्नुहोस् </b></button></a>
        </div>

    </center>
</div>

