@model Dainikprashashan.Asthayi_Basobas

@{
    ViewBag.Title = "Asthayibasobas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v3.min.css" rel="stylesheet" type="text/css" />
<script src="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {
        var mainInput = document.getElementById("nepali-datepicker");
        mainInput.nepaliDatePicker();
    };
</script>

<div style="padding:30px 200px;width:100%; margin:0 auto;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-sm-5">
            <label>आवेदन दिएको मिति</label>
            @Html.TextBoxFor(m => m.Aabedan_miti, "", new { @id = "nepali-datepicker", @name = "nepali-datepicker", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Aabedan_miti, "", new { @class = "text-danger" })
        </div>

        <br />

        <h4><b>आवेदकको विवरण</b></h4>
        <hr />
        <div class="row">
            <div class="col-sm-5">
                <label><b>नाम</b></label>

                @Html.TextBoxFor(model => model.Aabedak_naam, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Aabedak_naam, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-5">
                <label><b>ना.प्र.प.नं. </b></label>

                @Html.TextBoxFor(model => model.Nagarikta_no, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nagarikta_no, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-5">
                <label><b>ना.प्र.प. जारी जिल्ला </b></label>

                @Html.EditorFor(model => model.Nagarikta_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nagarikta_Jilla, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5">
                <label><b>ना.प्र.प. जारी मिति</b></label>

                @Html.EditorFor(model => model.Nagarikta_miti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nagarikta_miti, "", new { @class = "text-danger" })
            </div>
        </div>


        <label><b>स्थायी ठेगाना </b></label>
        <div class="row">
            <div class="col-sm-5">
                @Html.DropDownListFor(m => m.Pradesh, (List<SelectListItem>)ViewBag.Pradesh, "-- प्रदेश छान्नुहोस्  --", new { @class = "form-control" })
            </div>
            <div class="col-sm-5">
                @Html.DropDownListFor(m => m.Jilla, (List<SelectListItem>)ViewBag.Jilla, "-- जिल्ला छान्नुहोस्  --", new { @class = "form-control" })
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-sm-5">
                @Html.DropDownListFor(m => m.Gabisa, (List<SelectListItem>)ViewBag.Gabisa, "-- गा.बि.स/न.प. छान्नुहोस्  --", new { @class = "form-control" })
            </div>
            <div class="col-sm-5">
                @Html.DropDownListFor(m => m.Ward, (List<SelectListItem>)ViewBag.Ward, "-- वडा छान्नुहोस्  --", new { @class = "form-control" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-5">
                <label><b>साबिक ठेगाना</b></label>

                @Html.DropDownListFor(m => m.Sabik_thegana , (List<SelectListItem>)ViewBag.Sabikthegana, "-- छान्नुहोस्  --", new { @class = "form-control" })
            </div>

            <div class="col-sm-5">
                <label><b>बसोबास सुरु गरेको मिति</b></label>

                @Html.EditorFor(model => model.Basobas_miti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Basobas_miti, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h4><b>घरधनीको विवरण</b></h4>
        <hr />
        <div class="row">
            <div class="col-sm-5">
                <label><b>नाम</b></label>

                @Html.EditorFor(model => model.Ghardhaniko_naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ghardhaniko_naam, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-5">
                <label><b>घर नं.</b></label>

                @Html.EditorFor(model => model.Ghar_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ghar_no, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-5">
                <label><b>टोल</b></label>

                @Html.EditorFor(model => model.Tole, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tole, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-5">
                <label><b>बाटोको नाम </b></label>

                @Html.EditorFor(model => model.Batoko_naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Batoko_naam, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-success" type="submit">पेश गर्नुहोस् </button>
        </div>

    }
</div>



