@model IEnumerable<Dainikprashashan.Models.GharkayamList>

@{
    ViewBag.Title = "Barsikpramanikaranview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding:0px 400px">
    
  
    <center>
        
            <div class="table-responsive-lg col-sm-12">
                <table class="table table-bordered" style="border:1px">

                    <tr>
                        <th scope="row">फारम ID</th>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().FormId)</td>
                    </tr>
                    <tr>
                        <th scope="row">आबदेन दिएको मिती</th>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Aabedan_miti)</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            अनुमोदित
                        </th>
                        <td style="color:red">नभएको </td>
                    </tr>
                    <tr>
                        <th scope="row">आवेदकको नाम</th>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Aabedak_name)</td>
                    </tr>
                    <tr>
                        <th scope="row">ठेगाना</th>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Pradesh),@Html.DisplayFor(modelItem => Model.LastOrDefault().Jilla),@Html.DisplayFor(modelItem => Model.LastOrDefault().Gabisa),@Html.DisplayFor(modelItem => Model.LastOrDefault().Ward)</td>
                    </tr>

                </table>
            </div>
            <div style="width:1000px">
                <table class="table-responsive table-bordered">
                    <tr>
                        <th>Relation with applicant</th>
                        <th>Parties Name</th>
                        <th>Annual Income</th>
                        <th>Remarks</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Relationwithapplicant)</td>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Partiesname)</td>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Annualincome)</td>
                        <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Remarks)</td>
                    </tr>
                </table>
                </div>
            
</center>
    </div>
