@model Dainikprashashan.Barsik_Pramanikaran

@{
    ViewBag.Title = "Barsikpramanikaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding:0px 200px">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2"><b>Applicated Date </b></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Applicated_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Applicated_date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><b>Full Name </b></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Full_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Full_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><b>Address </b></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pradesh, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Jilla, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Jilla, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gabisa, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Ward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ward, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <table class="table-responsive table-bordered">
            <tr>
                <th>Relation with applicant</th>
                <th>Parties Name</th>
                <th>Annual Income</th>
                <th>Remarks</th>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.Relation_with_applicant, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Relation_with_applicant, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Parties_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Parties_name, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Annual_income, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Annual_income, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>

        <div class="form-group">
            <button class="btn btn-success" type="submit">पेश गर्नुहोस् </button>
        </div>
    </div>
}