@model IEnumerable<Dainikprashashan.Models.GharkayamList>
@{
    ViewBag.Title = "Gharbatopramanitview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding:25px 300px">
    <div class="col-lg-1">
    </div>


    <h3 style="padding:10px 150px"><b>आबेदन विवरण</b></h3>
    <hr />
    <center>
        <div class="table-responsive-sm">
            <table class="table table-bordered" style="border:1px">

                <tr>
                    <th scope="row">फारम ID</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().FormId)</td>
                </tr>

                <tr>
                    <th scope="row">
                        स्वीकृत
                    </th>
                    <td style="color:red">नभएको </td>
                </tr>
                <tr>
                    <th scope="row">आबदेन दिएको मिती	</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Aabedan_miti)</td>
                </tr>
                <tr>
                    <th scope="row">जग्गा धनिको नाम</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Jaggadhanikonaam)</td>
                </tr>
                <tr>
                    <th scope="row">ठेगाना</th>
                    <td>@Html.DisplayFor(modelItem => Model.LastOrDefault().Pradesh),@Html.DisplayFor(modelItem => Model.LastOrDefault().Jilla),@Html.DisplayFor(modelItem => Model.LastOrDefault().Gabisa),@Html.DisplayFor(modelItem => Model.LastOrDefault().Ward)</td>
                </tr>

                <table class="table-responsive-sm table-bordered">

                    <colgroup span="3"></colgroup>

                    <thead class="thead-dark">
                        <tr>
                            <th rowspan="2">साबिक गा.बि.स/न.पा</th>
                            <th rowspan="2">हाल गा.बि.स/न.पा</th>
                            <th colspan="3" scope="colgroup">जग्गाको विवरण</th>
                           
                            <th rowspan="2">घरको प्रकार</th>
                            <th rowspan="2">अनुमानित मुल्य	</th>
                           
                            <th rowspan="2">बाटोको प्रकार</th>
                            <th rowspan="2">कैफियत</th>

                        </tr>
                        <tr>
                            <th scope="col">नक्सा सि.नं</th>
                            <th scope="col">कि.नं</th>
                            <th scope="col">क्षेत्रफल</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Sabikgabisa)</th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Haalgabisa)</th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Naksa_sheetno)</th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Kitta_no)</th>
                            <th>
                                @Html.DisplayFor(modelItem => Model.LastOrDefault().Bigga)-
                                @Html.DisplayFor(modelItem => Model.LastOrDefault().Kattha)-
                                @Html.DisplayFor(modelItem => Model.LastOrDefault().Dhur)
                            </th>
                            <th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Gharko_prakaar)</th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Anumanitmulya)</th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Batoko_prakaar)</th>
                            <th> @Html.DisplayFor(modelItem => Model.LastOrDefault().Kaifiyat)</th>
                        </tr>

                    </tbody>
                </table>

            </table>
            <br />
            <a href="#"><button class="btn btn-warning col-lg-5" type="submit"><b>सम्पादन गर्नुहोस् </b></button></a>
            &nbsp;
            <a href="FinalGharbatopramanitview"><button class="btn btn-success col-lg-5" type="submit"><b>दर्ता गर्नुहोस् </b></button></a>
        </div>

    </center>
</div>

