@model Dainikprashashan.Mohi_Lagat_Katta

@{
                /**/

                /**/

                ViewBag.Title = "Mohilagatkatta";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v3.min.css" rel="stylesheet" type="text/css" />
<script src="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {
        var mainInput = document.getElementById("nepali-datepicker");
        mainInput.nepaliDatePicker();
    };
</script>

<div style="padding:30px 200px;width:100%; margin:0 auto;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-sm-5">
            <label>आवेदन गरिएको मिति </label>
            @Html.TextBoxFor(m => m.Aabedan_miti, "", new { @id = "nepali-datepicker", @name = "nepali-datepicker", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Aabedan_miti, "", new { @class = "text-danger" })
        </div>
        <hr />
        <h3><b>जग्गाको विवरण</b></h3><hr />
        <div class="row" style="padding:0px 15px">
            <div class="col-sm-5">
                <label><b>जग्गाधनीको नाम</b></label>
                @Html.EditorFor(model => model.Jaggadhaniko_naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Jaggadhaniko_naam, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-5">
                <label><b>मोहीको नाम</b></label>
                @Html.EditorFor(model => model.Mohiko_naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mohiko_naam, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row" style="padding:0px 15px">
            <div class="col-sm-5">
                <label><b>कित्ता नं.</b></label>
                @Html.EditorFor(model => model.Kitta_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kitta_no, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5">
                <label><b>सिट नं.</b></label>
                @Html.EditorFor(model => model.Sheet_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sheet_no, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="col-lg-12">
            <label><b>क्षेत्रफल</b></label>

            <div class="form-inline">
                <div class="form-group row">
                    <div class="col-lg-3">
                        @Html.TextBoxFor(m => m.Bigga, new { @class = "form-control", @placeholder = "बिग्गा" })
                    </div>
                </div>
                &nbsp;
                <div class="form-group row">
                    <div class="col-lg-3">
                        @Html.TextBoxFor(m => m.Kattha, new { @class = "form-control", @placeholder = "कटठा" })
                    </div>
                </div>
                &nbsp;
                <div class="form-group row">
                    <div class="col-lg-3">
                        @Html.TextBoxFor(m => m.Dhur, new { @class = "form-control", @placeholder = "धुर" })
                    </div>
                </div>
            </div>
        </div>

        <br />
        <label class="control-label col-md-2">ठेगाना </label>
        <div class="row" style="padding:0px 15px">
            <div class="col-sm-5">
                @Html.EditorFor(model => model.Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pradesh, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.Jilla, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Jilla, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row" style="padding:0px 15px">
            <div class="col-sm-5">
                @Html.EditorFor(model => model.Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gabisa, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.Ward, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ward, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row" style="padding:0px 15px">
            <div class="col-sm-5">
                <label><b>साबिक ठेगाना</b></label>
                @Html.EditorFor(model => model.Sabik_thegana, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sabik_thegana, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-5">
                <label><b>सर्जमिन मिति </b></label>               
                    @Html.EditorFor(model => model.Sarjamin_miti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sarjamin_miti, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="padding:10px 15px">
                <button class="btn btn-success" type="submit">पेश गर्नुहोस् </button>
            </div>
            }
        </div>
