@model Dainikprashashan.Nagarikta_Pramanpatra

@{
    ViewBag.Title = "Nagariktapramanpatra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="padding:0px 200px">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2"><b>आवेदन गरिएको मिति</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Aabedan_miti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Aabedan_miti, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>आवेदन गरिएको कार्यालय</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.karyalaya, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Aabedan_miti, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>व्यक्तिगत विवरण (Personal Detail)</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2"><b>Name(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pahilo_naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pahilo_naam, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Bichko_naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bichko_naam, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Thar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Thar, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>Name(In English)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Middle_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Middle_name, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        <label class="control-label col-md-2"><b>लिङ्ग (Gender)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model., new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model., "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        <label class="control-label col-md-2"><b>जन्म मिति (Date of birth)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>
        जन्मस्थान (Place Of Birth)
    </h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2"><b>(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Janma_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Janma_Pradesh, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Janma_Jilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Janma_Jilla, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Janma_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Janma_Gabisa, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Janma_Ward, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Janma_Ward, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Janma_Tole, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Janma_Tole, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>स्थाई ठेगाना (Parmanent Address)</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2"><b>(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Permanent_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Permanent_Pradesh, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Permanent_Jilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Permanent_Jilla, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Permanent_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Permanent_Gabisa, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Permanent_Ward, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Permanent_Ward, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Permanent_Tole, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Permanent_Tole, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>बुबाको विवरण (Father's Detail)</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"><b>नाम थर</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Buwako_naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>नागरिकता नं. </b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Buwako_nagariktano, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_nagariktano, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Buwako_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_Pradesh, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Buwako_Jilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_Jilla, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Buwako_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_Gabisa, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Buwako_Ward, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_Ward, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Buwako_Tole, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buwako_Tole, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>आमाको विवरण (Mother's Detail)</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"><b>नाम थर</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amako_naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>नागरिकता नं. </b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amako_nagariktano, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_nagariktano, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amako_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_Pradesh, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Amako_Jilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_Jilla, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Amako_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_Gabisa, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Amako_Ward, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_Ward, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Amako_Tole, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amako_Tole, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>पति / पत्नीको विवरण (Husband / Wife Detail)</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"><b>नाम थर</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Patipatniko_naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_naam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>नागरिकता नं. </b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Patipatniko_nagariktano, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_nagariktano, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"><b>(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Patipatniko_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_Pradesh, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Patipatniko_Jilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_Jilla, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Patipatniko_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_Gabisa, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Patipatniko_Ward, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_Ward, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Patipatniko_Tole, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Patipatniko_Tole, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>संरक्षकको विवरण (Protector's Detail)</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"><b>नाम थर</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Protector_naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Protector_naam, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"><b>(In Nepali)</b></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Protector_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Protector_Pradesh, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Protector_Jilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Protector_Jilla, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Protector_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Protector_Gabisa, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Protector_Ward, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Protector_Ward, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Protector_Tole, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Protector_Tole, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit">पेश गर्नुहोस् </button>
    </div>
    </div>
}
