@model Dainikprashashan.Nagarikta_Pramanpatra_Pratilipi

@{
    ViewBag.Title = "Nagariktapramanpatrapratilipi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v3.min.css" rel="stylesheet" type="text/css" />
<script src="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {
        var mainInput = document.getElementById("nepali-datepicker");
        mainInput.nepaliDatePicker();
    };
</script>

<div style="padding:30px 200px;width:100%; margin:0 auto;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                <label>आवेदन गरिएको मिति </label>
                @Html.TextBoxFor(m => m.Aabedan_miti, "", new { @id = "nepali-datepicker", @name = "nepali-datepicker", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Aabedan_miti, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5">
                <label><b>आवेदन गरिएको कार्यालय</b></label>

                @Html.EditorFor(model => model.karyalaya, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aabedan_miti, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h4><b>व्यक्तिगत विवरण (Personal Detail)</b></h4>
        <hr />

        <label><b>Name(In Nepali)</b></label>
        <div class="row">
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Pahilo_naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pahilo_naam, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Bichko_naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bichko_naam, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Thar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Thar, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <label><b>Name(In English)</b></label>
        <div class="row">
            <div class="col-sm-4">
                @Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Middle_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Middle_name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        @*<div class="form-group">
                <label class="control-label col-md-2"><b>लिङ्ग (Gender)</b></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model., new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model., "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-5">
                <label><b>जन्म मिति (Date of birth)</b></label>

                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <h4><b>नागरिकता प्र.प.को विवरण (Citizenship Certificate's Details)</b></h4>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <label ><b>ना.प्र.प. नं </b></label>

                @Html.EditorFor(model => model.Nagarikta_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nagarikta_no, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-4">
                <label ><b>जारी मिति</b></label>
               
                    @Html.EditorFor(model => model.Jari_miti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Jari_miti, "", new { @class = "text-danger" })
                </div>
           

            <div class="col-sm-4">
                <label><b>ना.प्र.प. किसिम</b></label>
              
                    @Html.EditorFor(model => model.Nagarikta_kisim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nagarikta_kisim, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <h4>
                <b> जन्मस्थान (Place Of Birth)</b>
            </h4>
            <hr />

            <label><b>(In Nepali)</b></label>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Janma_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Janma_Pradesh, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Janma_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Janma_Jilla, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Janma_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Janma_Gabisa, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Janma_Ward, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Janma_Ward, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Janma_Tole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Janma_Tole, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <h4><b>स्थाई ठेगाना (Permanent Address)</b></h4>
            <hr />

            <label class="control-label col-md-2"><b>(In Nepali)</b></label>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Permanent_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Permanent_Pradesh, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Permanent_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Permanent_Jilla, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Permanent_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Permanent_Gabisa, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Permanent_Ward, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Permanent_Ward, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Permanent_Tole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Permanent_Tole, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <h4><b>बुबाको विवरण (Father's Detail)</b></h4>
            <hr />

            <div class="row">
                <div class="col-sm-5">
                    <label><b>नाम थर</b></label>

                    @Html.EditorFor(model => model.Buwako_naam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_naam, "", new { @class = "text-danger" })

                </div>
                <div class="col-sm-5">
                    <label><b>नागरिकता नं. </b></label>

                    @Html.EditorFor(model => model.Buwako_nagariktano, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_nagariktano, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <label><b>(In Nepali)</b></label>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Buwako_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_Pradesh, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Buwako_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_Jilla, "", new { @class = "text-danger" })
                </div>


                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Buwako_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_Gabisa, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Buwako_Ward, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_Ward, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Buwako_Tole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buwako_Tole, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <h4><b>आमाको विवरण (Mother's Detail)</b></h4>
            <hr />

            <div class="row">
                <div class="col-sm-5">
                    <label><b>नाम थर</b></label>

                    @Html.EditorFor(model => model.Amako_naam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_naam, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-5">
                    <label><b>नागरिकता नं. </b></label>

                    @Html.EditorFor(model => model.Amako_nagariktano, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_nagariktano, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <label><b>(In Nepali)</b></label>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Amako_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_Pradesh, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Amako_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_Jilla, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Amako_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_Gabisa, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Amako_Ward, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_Ward, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Amako_Tole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amako_Tole, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <h4><b>पति / पत्नीको विवरण (Husband / Wife Detail)</b></h4>
            <hr />

            <div class="row">
                <div class="col-sm-5">
                    <label><b>नाम थर</b></label>

                    @Html.EditorFor(model => model.Patipatniko_naam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_naam, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-5">
                    <label><b>नागरिकता नं. </b></label>

                    @Html.EditorFor(model => model.Patipatniko_nagariktano, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_nagariktano, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />


            <label><b>(In Nepali)</b></label>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Patipatniko_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_Pradesh, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Patipatniko_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_Jilla, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Patipatniko_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_Gabisa, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Patipatniko_Ward, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_Ward, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Patipatniko_Tole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patipatniko_Tole, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <h4><b>संरक्षकको विवरण (Protector's Detail)</b></h4>
            <hr />
            <div class="row">
                <div class="col-sm-5">
                    <label><b>नाम थर</b></label>

                    @Html.EditorFor(model => model.Protector_naam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Protector_naam, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <label class="control-label col-md-2"><b>(In Nepali)</b></label>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Protector_Pradesh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Protector_Pradesh, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Protector_Jilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Protector_Jilla, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Protector_Gabisa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Protector_Gabisa, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Protector_Ward, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Protector_Ward, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Protector_Tole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Protector_Tole, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="form-group">
                <button class="btn btn-success" type="submit">पेश गर्नुहोस् </button>
            </div>

            }

        </div>